<aside class="aside">
    <img>
    <ul>
        <li>Painel</li>
        <li>Clientes</li>
        <li>Funcionarios</li>
        <li>Atendimentos</li>
        <li>Serviços</li>
        <li>Relatórios</li>
        <li>Log</li>
        <li>Configurações</li>
    </ul>
</aside>