<footer>
    <div class="row d-flex justify-content-center align-items-center">

        <div class="row col-md-8 justify-content-center align-items-center">
            <div class="linha-h20 justify-content-center align-items-center"></div>
            <div class="linha-h10 mg1h justify-content-center align-items-center"></div>
            <div class="linha-h5 mg1h justify-content-center align-items-center"></div>
            <div class="justify-content-center align-items-center"></div>
            <span class="mg4h">{{lingue.criadopor}}</span>
        </div>
        <div class="row col-md-2 justify-content-center align-items-center">
            <div><span>{{lingue.qualidade}}</span></div>
            <img class="icon16 mg1h" src="/img/estrela_01.jpg" alt="imagem de nivél de satifação do atendmento variando de 1 a 5 estrelas">
        </div>
        <div class="row col-md-2 justify-content-center align-items-center">
            <img class="icon32 mg0vh" src="/img/RS.png" alt="facebook">
            <img class="icon32 mg0vh" src="/img/RS2.png" alt="whatssap">
            <img class="icon32 mg0vh" src="/img/RS3.png" alt="twitter">
            <img class="icon32 mg0vh" src="/img/RS4.png" alt="instagram">
        </div>
    </div>
</footer>