<div class="row justify-content-center align-items-center">


  <div class="sm-6 md-2 align-items-center ">
    <img class="img-fluid" src="/img/logo.png" alt="LOGO EMPRESA">
  </div>

  <div class="sm-3 md-2 align-items-center">
    <div class="linha-h40 mg0h"></div>
  </div>

  <div class="sm-2 md-1 align-items-center">
    <div class="linha-h10 mg0h"></div>
  </div>

  <div class="sm-12 md-7">
    <nav id="menu" class="menu nav ">
      <ul>
        <li><a href="/">{{lingue.home}}</a></li>
        <li><a href="sobrenos">{{lingue.sobrenos}}</a></li>
        <li><a href="contato">{{lingue.contato}}</a></li>
      </ul>
    </nav>
  </div>

</div>