{{>_painel}}

<section class="section">

        
      <div id="from">
        <ul>
        <li><a href="cadastrar-empresas">{{lingue.cadastrarempresas}}</a></li>
        <li><a href="">Logs ((traduzir!!!))</a></li>
        <li><a href="">Atualizar perfil ((traduzir!!!))</a></li>
        <li><a href="">((traduzir!!!))</a></li>
        </ul>
      </div>


   
</section>