
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btnmenu"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header><img src="img/user.png" alt="Foto do usuario"><p>Bem vindo !</p><p>Funcionario</p></header>
    <ul>
        <li><a href=""><i class="fas fa-qrcode"></i>Painel</a></li>
        <li><a href=""><i class="fas fa-link"></i>Funcionarios</a></li>
        <li><a href=""><i class="fas fa-stream"></i>Clientes</a></li>
        <li><a href=""><i class="fas fa-calendar-week"></i>Atendimentos</a></li>
        <li><a href=""><i class="fas fa-question-circle"></i>Serviços</a></li>
        <li><a href=""><i class="fas fa-sliders-h"></i>Relatorios</a></li>
        <li><a href=""><i class="fas fa-envelope"></i>Configurações</a></li>
        <li><a href=""><i class="fas fa-envelope"></i>Log</a></li>
        <li><a href=""><i class="fas fa-envelope"></i>Sair</a></li>
    </ul>
</div>
<section class="section">
  <div class="row d-flex">
    <div class="sm-12 md-12 mg3h pd3h">
        <p>asdasda da sd ada dasd ad adasd a dsad a</p>
    </div>
  </div>
</section>