/* GERAL */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'roboto', sans-serif;
}
/* LINKs */
a{color: #0f0f0f;}
a:hover{color: cornflowerblue;}
/* MENU */
.section{
    margin: auto 5%;
}
.not{
    min-height: 150px;
    width: 100%;
    background-color: cornflowerblue;
    margin-top: 20px;
}
.nav{
    height: 120px;
    margin:0px;
}
.menu{
    width: 100%;
}
.menu ul {
    display: inline-flex;
    padding:0px;
    list-style:none;
}
.menu li{
    margin: auto;
    padding: 47px 70px;
    text-align: center;
}

/* LINHAS DO SISTEMA */
.linha-h40{
    background: #30B2C4;
    width: 400px;
    height: 2px;
}

.linha-h20{
    background: #30B2C4;
    width: 200px;
    height: 2px;
}

.linha-h10{
    background: #30B2C4;
    width: 100px;
    height: 2px;
}
.linha-h5{
    background: #30B2C4;
    width: 50px;
    height: 2px;
}
.linha-v{
    background: #30B2C4;
    width: 2px;
    height: 400px;
    margin: 50px auto; 
}
/* PADDING */
.pd3h{
    padding: 0 30px;
}
/* MARGENS DO SISTEMA */

.mg0h{
    margin: 0 5px;
}
.mg0vh{
    margin: 5px 5px;
}
.mg1h{
    margin: 0 10px;
}
.mg2h{
    margin: 0 20px;
}
.mg3h{
    margin: 0 30px;
}
.mg4h{
    margin: 0 40px;
}
.mg4dh{
    margin: 0 10px 0px 0px;
}
.mg4eh{
    margin: 0 0px 0px 40px;
}
.mg3vh{
    margin: 30px 30px;
}
/* ICONES DO SISTEMA */
.icon16{
    height: 16px;
}
.icon32{
    height: 32px;
}
.icon48{
    height: 48px;
}
.icon64{
    height: 64px;
}
/* FOOTER */
footer{
    margin: 30px;
    text-align: center;
    position: relative;
    bottom: 0px;
}
/* MENU SISTEMA */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #323845;
    transition: all .5s ease;
    top: 0px;
    z-index: 1;
  }
  .sidebar header {
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: center;
    background:black;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 2vh;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  .sidebar ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btnmenu,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btnmenu{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    position: fixed;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btnmenu{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ .row{
    margin-left: 250px;
  }
  #check:checked ~ footer{
    margin-left: 250px;
  }
  #check:checked ~ .section{
    margin-left: 250px;
  }
  #check:checked ~ .menu{
    margin-left: 250px;
  }


